.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.form {
  display: flex;
  align-items: center;
  gap: 0 10px;
  input {
    width: 100%;
    height: 4rem;
    flex-grow: 1;
    border-radius: 0.7rem;
    padding: 0 1rem;
    outline: none;
    border: 1px solid #ccc;
    caret-color: blue;
  }
  input:focus {
    border: 1px solid blue;
    background-color: rgba(0, 0, 255, 0.052);
    box-shadow: 0 0 0 4px rgba(0, 0, 255, 0.118);
  }
  button {
    flex-shrink: 0;
    width: 5rem;
    height: 4rem;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}
