.title {
  margin-bottom: 2rem;
}
.task {
  display: flex;
  align-items: flex-start;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.taskCheckbox {
  cursor: pointer;
  flex: 0 0 10%;
  height: 2rem;
  margin-top: 0.5rem;
  max-width: 10%;
}
.taskName {
  width: 100%;
  color: #383f50;
  word-wrap: break-word;
  padding: 0 0 0.5rem;
  &.taskNameDone {
    color: #b2b7bb;
    text-decoration: line-through;
  }
}

.taskActions {
  display: flex;
  grid-gap: 0 4px;
  justify-content: space-between;
}
.taskBtn {
  width: 3rem;
  font-size: 1.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
